
@{
    ViewData["Title"] = "TwoCanTalk";
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
    ViewBag.Page = "TwoCanTalk";
}

@section Scripts {
    <!-- favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <!-- Styles -->
    <link href="@Url.Content("~/HTML/keyboard/css/keyboard-basic.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/HTML/dashboard/assets/css/font-awesome.min.css")" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-treeview.min.css" rel="stylesheet">
    <link href="~/HTML/dashboard/assets/css/style.css" rel="stylesheet">
    <link href="~/HTML/css/twocantalk.css" rel="stylesheet">
    <link href="~/HTML/css/expandable-table.css" rel="stylesheet">
    <script src="~/HTML/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/purify.min.js"></script>
    <script src="~/js/html2canvas.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/bootstrap-treeview.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/translate.js"></script>
    <script type="text/javascript" src="~/HTML/keyboard/js/jquery.keyboard.js"></script>
    <script type="text/javascript" src="https://vhss-d.oddcast.com/vhost_embed_functions_v4.php?acc=1015607&js=0"></script>
    <script type="text/javascript" src="~/js/lodash.js"></script>
    <script type="text/javascript" src="~/js/keyboard.js"></script>
    <script type="text/javascript" src="~/js/phrasebook/phrasebook-template.js"></script>
    <script type="text/javascript" src="~/js/phrasebook/phrasebook.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@@reactivex/rxjs@6.6.3/dist/global/rxjs.umd.js"></script>
    <script type="text/javascript" src="~/js/twocantalk/twocantalk-template.js"></script>
    <script type="text/javascript" src="~/js/twocantalk/twocantalk.js"></script>
    <script type="text/javascript" src="~/js/twocantalk/twocantalk-logic.js"></script>

    <script type="text/javascript">
        var chatsDefinitions = [
            {
                sceneId: 0,
                placeholderSelector: 'firstChatPlaceholder',
                userInputId: 'firstUserInput',
                keyboardContainerId: 'firstKeyboardContainer',
                chatHistoryId: 'firstChatHistory',
                toggleVoiceId: 'firstToggleVoice',
                languageSelectorId: 'firstLanguageSelector',
                repeatTranslatedButtonId: 'firstRepeatTranslatedButton',
                repeatLastSentenceButtonId: 'firstRepeatLastSentenceButton',
                toggleTranslationButtonId: 'firstToggleTranslationButton',
                exportToPdfButtonId: 'firstExportToPdfButton',
                phrasebook: {
                    openPhrasebookButtonId: 'firstOpenPhrasebookButton',
                    phrasebookModalId: 'phrasebookModal',
                    phrasebookLabel: 'phrasebookLabel',
                    phrasebookTreeId: 'phrasebookTree',
                },
                toggleKeyboardId: 'firstToggleKeyboard',
                genderId: GENDER_ID.female
            },
            {
                sceneId: 1,
                placeholderSelector: 'secondChatPlaceholder',
                userInputId: 'secondUserInput',
                keyboardContainerId: 'secondKeyboardContainer',
                chatHistoryId: 'secondChatHistory',
                toggleVoiceId: 'secondToggleVoice',
                languageSelectorId: 'secondLanguageSelector',
                repeatTranslatedButtonId: 'secondRepeatTranslatedButton',
                repeatLastSentenceButtonId: 'secondRepeatLastSentence',
                toggleTranslationButtonId: 'secondToggleTranslationButton',
                exportToPdfButtonId: 'secondExportToPdfButton',
                phrasebook: false,
                toggleKeyboardId: 'secondToggleKeyboard',
                genderId: GENDER_ID.male
            }
        ]
    </script>
}
<div id="main-content">
    <div class="row d-flex flex-row p-8 pt-0">
        <div class="p-8 col-md-6" id="firstChatPlaceholder">
            <div class="avatar-placeholder">
                <div class="avatar">
                    <script>
                        chatsDefinitions[0].sceneRef = AC_VHost_Embed(1015607, 300, 400, '', 1, 1, 2018970, 0, 1, 0, '553d1bcf769c9da8fc2124b09528003a', 0);
                        //createChat([chatsDefinitions[0]]);
                    </script>
                </div>
            </div>
        </div>
        <div class="p-8 col-md-6" id="secondChatPlaceholder">
            <div class="avatar-placeholder">
                <div class="avatar">
                    <script>
                        chatsDefinitions[1].sceneRef = AC_VHost_Embed(1015607, 300, 400, '', 1, 1, 2018971, 0, 1, 0, '553d1bcf769c9da8fc2124b09528003a', 0);
                        //createChat([chatsDefinitions[1]]);
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-placeholder"></div>
<script>
    const toggleRow = (element) => {
        $(element).parent().parent().next('.expanded-row-content').toggle('hide-row');
        console.log(event);
    }
</script>


<!-- Modal -->
<partial name="../Shared/KeyboardView.cshtml" />`
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        startTwoCanTalk();
    });
</script>

